<h1 class="title">About</h1>

<div class="content is-medium">

<p>The objective of this project is to design model associations and build a social network application that emulates core features of <a href="https://www.facebook.com" target="_blank">Facebook</a>.</p>

<p>A user can sign up with Facebook OAUTH. A user can friend users, post pictures, write comments and write many Micropost. A Micropost can be liked by any users.</p>

<p>Now that the database have been seeded; feel free to create new micropost, users and comments.</p>

<p> Login with username "batman@email.com" with password "password".</p>

<p>View source code <a href="https://github.com/geraldgsh/societalbook">here</a>.</p>

</div>